<div class="container-fluid">

  <form #f="ngForm" autocomplete="off" (ngSubmit)="salvar(f)">

    <div class="ui-g">
      <div class="ui-g-12">
        <h1 class="page-header">Cadastra novo Jogador</h1>
      </div>
    </div>

    <div class="ui-g">

      <div class="ui-g-4 ui-md-4 ui-fluid">
        <label>Nome do Jogador</label>
        <input pInputText type="text" placeholder="Nome do Jogador" name="jogador" [(ngModel)]="cadastro.jogador"
          ngModel #jogador="ngModel" required>
        <app-message [control]="jogador" error="required" text="Informe o nome do jogador"></app-message>
      </div>

    </div>


    <div class="ui-g">

      <div class="ui-g-6 ui-md-2 ui-fluid">
        <label>Quantidade de Vitórias</label>
        <input pInputText type="number" placeholder="Quantidade de Vitórias" name="vitorias"
          [(ngModel)]="cadastro.vitorias" ngModel #vitorias="ngModel" required>
        <app-message [control]="vitorias" error="required" text="Informe a quantidade de vitórias"></app-message>
      </div>

      <div class="ui-g-6 ui-md-2 ui-fluid">
        <label>Quantidade de Partidas</label>
        <input pInputText type="number" placeholder="Quantidade de Partidas" name="partidas"
          [(ngModel)]="cadastro.partidas" ngModel #partidas="ngModel" required>
        <app-message [control]="partidas" error="required" text="Informe a quantidade de partidas"></app-message>
      </div>
    </div>

    <div class="ui-g">
      <div class="ui-g-12">
        <button pButton type="submit" label="Salvar" [disabled]="f.invalid"></button>
        <button pButton type="button" label="Nova" class="ui-button-info" (click)="novo(f)"></button>

        <a routerLink="/jogadores">Voltar para a pesquisa</a>
      </div>
    </div>

  </form>
</div>
