<div class="container-fluid">
  <form autocomplete="off" (ngSubmit)="pesquisar()">
    <div class="ui-g">
      <div class="ui-g-12">
        <h1 class="page-header">Jogadores - Visualiza Ranking</h1>
      </div>

    </div>

    <div class="ui-g">
      <div class="ui-12 ui-md-12 ui-fluid">
        <p-dataTable [value]="jogadores" [paginator]="true" [rows]="5" [responsive]="true"
          emptyMessage="Nenhum jogador localizado" #tabela>
          <p-column field="jogador" header="Jogador" styleClass="col-nome"></p-column>
          <p-column field="vitorias" styleClass="col-qtd" header="Vitórias"></p-column>
          <p-column field="partidas" header="Partidas" styleClass="col-qtd"></p-column>
          <p-column styleClass="col-acao" header="Adicionar Vitória">
            <ng-template let-jog="rowData" pTemplate="body">
              <button pButton icon="fa-trophy" pTooltip="Vitória" (click)="confirmarAdicionarVitoria(jog)"
                tooltipPosition="top"></button>
            </ng-template>
          </p-column>
          <p-column styleClass="col-acao" header="Adicionar Partida">
            <ng-template let-jog="rowData" pTemplate="body">
              <button pButton icon="fa-thumbs-o-up" pTooltip="Partida" (click)="confirmarAdicionarPartida(jog)"
                tooltipPosition="top"></button>
            </ng-template>
          </p-column>
        </p-dataTable>
      </div>

      <div class="ui-g-12">
        <button pButton type="submit" label="Listar Jogadores"></button>
        <a pButton label="Adicionar Jogador" routerLink="/jogador/novo"></a>
      </div>
    </div>

  </form>
</div>
