<nav class="navbar">

  <div class="container">
    <div class="ui-g">
      <div class="ui-g-12">
        <a href="javascript:;" class="navbar-toggle" (click)="exibindoMenu = !exibindoMenu"><i
            class="fa fa-bars"></i></a>


      </div>
    </div>
  </div>

  <ul class="navbar-menu" [hidden]="!exibindoMenu">
    <li class="navbar-menuitem" routerLinkActive="Ranking"><a routerLink="jogadores">Lista
        Jogadores</a></li>
    <li class="navbar-menuitem" routerLinkActive="Ranking"><a routerLink="jogador/novo">Adicionar
        Jogador</a></li>
  </ul>

</nav>
